body {
    font-family: "Montserrat";
    text-align: center;
}

#title {
    background-color: #ff4c68;
    
    text-align: left;
}

.container-fluid {
    padding: 3% 15% 7%;
    height: 645%;
}
h1,h2,h3,h4{
    font-family: "Montserrat";
}

.big-heading{
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

h3 { 
    font-weight: bold;
    font-size: large;
}

p {
    color: #8f8f8f;
}

/* navigation bar */
.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: "Montserrat-Light";
}

/* download buttons */
.download-button {
    margin: 5% 3% 0% 0%;
}

/* title image */
.title-image {
    width: 22%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    
}
.feature-title{
    font-weight: bold;
    font-size: large;
}

.icon-image {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-box {
    padding: 4.5%;
}

.icon-image:hover {
    color: #ff4c68;
}

/* testimonials section */

#testimonials {
    padding-top: 7%;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    width: 85%;
    padding-left: 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.testimonials-carousel {
    padding: 7% 10%;
}

/* pricing section */
#pricing {
    padding: 100px;
}

.pricing-tag {
    padding: 3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
        width: 50%;
        padding-top: 10%;
        
    }
    #title{
        text-align: center;
        
    }
    #features{
        position: static;
        margin-top: 5%;
    }

}
/* section cta */
#cta{
    font-family: "Montserrat";
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 0;
}

/* footer */

#footer{
    background-color: #fff;
    padding: 5%;

}

.footer-icon{
    padding: 0 1% 1% 0;

}
.footer-line{
    font-size: small;
    
}